<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/css/form.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
	<title>Taldea gehitu</title>
</head>

<body>
	<div th:replace="~{/fragments/navbar.html :: navbar}"></div>
	<h2>Taldea gehitu</h2>

	<div class="form-container">
		<form th:action="@{/produktua/admin/taldea/gehitu}" th:object="${taldea}" method="post"
			enctype="multipart/form-data">
			<label for="izena">Taldearen izena:</label>
			<input type="text" id="izena" th:field="*{izena}" required="required" />
			<br><br>
			<label for="herrialdea">Herrialdea:</label>
			<input type="text" id="herrialdea" th:field="*{herrialdea}" required="required" />
			<br><br>
			<button class="btn-gehitu" type="submit">Gehitu taldea</button>
		</form>
	</div>
	<div th:if="${error}" class="alert alert-danger">
		<h2 class="text-error" th:text="${error} + ' taldea existitzen da'">
			</h2class>
	</div>
</body>

</html>