/* Contenedor de filtros que ocupa toda la izquierda */
.filters-container {
	width: 300px;
	height: 100vh;
	margin-top: 98px; 
	padding: 20px;
	background-color: #064743; 
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	overflow-y: auto; 
}

/* Espaciado en la página principal para no tapar el contenido */
.page-content {
  margin-left: 270px; /* Deja hueco a la derecha del filtro */
  padding: 20px;
}

/* Títulos de las secciones de filtros */
.filters-container h3 {
  font-size: 1.5rem;
  color: #191716;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

/* Secciones de cada filtro */
.filter-section {
  margin-bottom: 20px;
}

.filter-section h4 {
  font-size: 1.1rem;
  color: #191716;
  margin-bottom: 10px;
  font-weight: bold;
}

.filter-section p{
	color: #191716;
}

/* Estilo de los filtros select */
select {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #BBCBCB;
  margin-bottom: 15px;
  box-sizing: border-box;
}

/* Estilo de los sliders de precio */
input[type="range"] {
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  transition: background 0.3s ease;
}

input[type="range"]:focus {
  background: #aaa;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #454E9E;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #454E9E;
  border-radius: 50%;
  cursor: pointer;
}

#precioValue {
  font-weight: bold;
  color: #191716;
  margin-top: 10px;
  font-size: 1.1rem;
}

/* Botón para aplicar los filtros */
.filter-button {
  width: 100%;
  padding: 12px;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}
.boton1{

	background-color: #454E9E;
}

.boton2{
	background-color: #D00000;
}

.boton1:hover{

	background-color: #4AC3C5;
}

.boton2:hover{
	background-color: #9a0000;
}


/* Filtros de categorías, colores, etc. */
.filter-category, .filter-size {
  display: flex;
  flex-direction: column;
}

.filter-category label, .filter-size label {
  font-size: 1rem;
  color: #555;
  margin-bottom: 8px;
}

.filter-category input, .filter-size input {
  margin-bottom: 10px;
}

.filter-category input[type="checkbox"], .filter-size input[type="checkbox"] {
  margin-right: 10px;
}
