body {
	font-family: Arial, sans-serif;
	background-color: #BBCBCB;
	/* Gris oscuro */
	color: white;
	margin: 0;
}

h1 {
	color: #191716;
	text-align: center;
	font-size: 36px;
}

table {
	margin-top: 100px;
	width: 100%;
	border-collapse: collapse;
}


th,
td {
	padding: 12px 15px;
	text-align: left;
	border: 1px solid #191716;
}

th {
	background-color: #191716;
	color: white;
}

td {
	background-color: #218682;
}

tr:hover {
	background-color: #218682;
}

table a,
.botoia {
	display: inline-block;
	margin-top: 20px;
	text-align: center;
	padding: 10px 20px;
	color: #fff;
	background-color: #D00000;
	text-decoration: none;
	border-radius: 5px;
}

.botoia{
	margin-left: 400px;
	margin-bottom: 30px;
}

table a:nth-child(2) {
	display: inline-block;
	margin-top: 20px;
	text-align: center;
	padding: 10px 20px;
	color: #fff;
	background-color: #D00000;
	text-decoration: none;
	border-radius: 5px;
}

table a:nth-child(2):hover {
	background-color: #C43E3A;
}

table a:hover,
.botoia:hover {
	  background-color: #9a0000;
}

table img {
	max-width: 100px;
	border-radius: 5px;
}


select {
	background-color: #f0f0f0;
	color: #333;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
	font-size: 14px;
	width: 100%;
}